$max-width: 678px;

$lightest-gray: #fbfbfb;
$light-gray: #e0e0e0;
$gray: #adadad;
$dark-gray: #909090;
$darker-gray: #3b3b3b;

$light-primary: #fba453;
$primary: #ff8513;

$light-secondary: #5eb9ff;
$secondary: #0091ff;